{% extends 'common/modal.html' %}
{% load commontags %}
{% load staticfiles %}
{% block modal_body %}
<input type="hidden" name="router_id" value="{{ router_id }}">
<input type="hidden" name="netnodeip" value="{{ netnodeip }}">
<div class="p50">
    <div class="tab-area">
        <div class="rs_d04 tab-btn click">목적지 기반</div>
        <div class="rs_d04 tab-btn">송신지 기반</div>
        <!--<div class="rs_d04 tab-btn">local</div>-->
        <!--<div class="rs_d04 tab-btn">src_list</div>-->
        <div class="clear_float"></div>

        <div class="tab-body" ><!-- 목적지 기반 -->
            <button id="create_dst_rule" class="btn-ok">규칙 추가</button>
            <div class="clear_float"></div>
            <div id="dst_route_list">
                <table class="common-tab-01" cellpadding="0" border="0" cellspacing="0">
                    <colgroup>
                        <col width="14%">
                        <col width="13%">
                        <col width="16%">
                        <col width="7%">
                        <col width="7%">
                        <col width="7%">
                        <col width="7%">
                        <col width="17%">
                        <col width="12%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="destination">Destination</th>
                        <th class="gateway">Gateway</th>
                        <th class="genmask">Genmask</th>
                        <th class="flags">Flags</th>
                        <th class="metric">Metric</th>
                        <th class="ref">Ref</th>
                        <th class="use">Use</th>
                        <th class="iface">Iface</th>
                        <th class="customHtml">액션</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dst_rule in dst_rules %}
                    <tr data-dest="{{ dst_rule.Destination }}" data-via="{{ dst_rule.Gateway }}" data-dev="{{ dst_rule.Iface }}">
                        <td>{{ dst_rule.Destination }}</td>
                        <td>{{ dst_rule.Gateway }}</td>
                        <td>{{ dst_rule.Genmask }}</td>
                        <td>{{ dst_rule.Flags }}</td>
                        <td>{{ dst_rule.Metric }}</td>
                        <td>{{ dst_rule.Ref }}</td>
                        <td>{{ dst_rule.Use }}</td>
                        <td>{{ dst_rule.Iface }}</td>
                        <td>
                            <div class="btn-ok small delete_dst_rule">삭제</div>
                            <div class="clear_float"></div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for value in dst_rules|length|range:5 %}
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="tl" colspan="9">Displaying {{ dst_rules|length }} item</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="tab-body" ><!-- 송신지 기반 -->
            <button id="create_pbr_table" class="btn-ok">테이블 추가</button>
            <div class="clear_float"></div>
            <div id="src_route_list">
                <table class="common-tab-11" cellpadding="0" border="0" cellspacing="0">
                    <colgroup>
                        <col width="25%">
                        <col width="20%">
                        <col width="30%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Table</th>
                        <th>order</th>
                        <th>target</th>
                        <th class="customHtml">액션</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pbr_table in pbr_tables %}
                    <tr data-pbr_table="{{ pbr_table.PBR_TABLE }}" data-order="{{ pbr_table.order }}" data-target="{{ pbr_table.target }}" data-type="pbrtable">
                        <td class="tc {% cycle 'rs_td02' 'rs_td03' as tdClass %}">{{ pbr_table.PBR_TABLE|default:'-' }}</td>
                        <td class="tc {{ tdClass }}">{{ pbr_table.order|default:'-' }}</td>
                        <td class="tc {{ tdClass }}">{{ pbr_table.target|default:'-' }}</td>
                        <td class="tc {{ tdClass }}">
                            <div class="button_group_bt02">
                                <div class="button_group_d01 toggle_src_rule">열기</div>
                                <div class="button_group_d02 action">
                                    <img src="/static/img/dashboard/common/arrow_img_01.png" alt="#">
                                </div>
                                <div class="clear_float"></div>
                                <div class="actionGroup actionGroup01" hidden>
                                    <a href="#" class="create_src_rule actionGroup_a01"><div>규칙 추가</div></a>
                                    <a href="#" class="delete_pbr_table actionGroup_a01"><div>삭제</div></a>
                                </div>
                            </div>
                            <div class="clear_float"></div>
                        </td>
                    </tr>
                    <tr class="src_list" hidden>
                        <td class="{{ tdClass }}" colspan="4">
                            <table class="common-tab-01" cellpadding="0" border="0" cellspacing="0">
                                {% if pbr_table.PBR_TABLE == "local" %}
                                    <colgroup>
                                        <col width="17%">
                                        <col width="17%">
                                        <col width="20%">
                                        <col width="10%">
                                        <col width="10%">
                                        <col width="16%">
                                        <col width="10%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>broadcast</th>
                                        <th>local</th>
                                        <th>dev</th>
                                        <th>proto</th>
                                        <th>scope</th>
                                        <th>src</th>
                                        <th class="customHtml">액션</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for src_rule in pbr_table.src_rules %}
                                        <tr data-src_rule="{{ src_rule.str }}" data-pbr="{{ pbr_table.PBR_TABLE }}" data-dest="{{ src_rule.dest }}" data-via="{{ src_rule.src }}" data-dev="{{ src_rule.dev }}" data-type="type2">
                                            <td class="tc">{{ src_rule.broadcast|default:'-' }}</td>
                                            <td class="tc">{{ src_rule.local|default:'-' }}</td>
                                            <td class="tc">{{ src_rule.dev|default:'-' }}</td>
                                            <td class="tc">{{ src_rule.proto|default:'-' }}</td>
                                            <td class="tc">{{ src_rule.scope|default:'-' }}</td>
                                            <td class="tc">{{ src_rule.src|default:'-' }}</td>
                                            <td class="tc">
                                                <div class="btn-ok small delete_src_rule">삭제</div>
                                                <div class="clear_float"></div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td class="tl" colspan="7">Displaying {{ pbr_table.src_rules|length }} item</td>
                                    </tr>
                                    </tfoot>
                                {% else %}
                                    <colgroup>
                                        <col width="30%">
                                        <col width="30%">
                                        <col width="30%">
                                        <col width="10%">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>목적지 네트워크</th>
                                        <th>다음 경유지</th>
                                        <th>인터페이스</th>
                                        <th class="customHtml">액션</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for src_rule in pbr_table.src_rules %}
                                        <tr data-src_rule="{{ src_rule.str }}" data-pbr="{{ pbr_table.PBR_TABLE }}" data-dest="{{ src_rule.dest }}" data-via="{{ src_rule.via }}" data-dev="{{ src_rule.dev }}" data-type="type2">
                                            <td class="tc">{{ src_rule.dest|default:'-' }}</td>
                                            <td class="tc">{{ src_rule.via|default:'-' }}</td>
                                            <td class="tc">{{ src_rule.dev|default:'-' }}</td>
                                            <td class="tc">
                                                <div class="btn-ok small delete_src_rule">삭제</div>
                                                <div class="clear_float"></div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td class="tl" colspan="4">Displaying {{ pbr_table.src_rules|length }} item</td>
                                    </tr>
                                    </tfoot>
                                {% endif %}
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for value in pbr_tables|length|range:5 %}
                    <tr>
                        <td class="rs_td0{% if value|mod:2 == 1 %}3{% else %}2{% endif %}">&nbsp;</td>
                        <td class="rs_td0{% if value|mod:2 == 1 %}3{% else %}2{% endif %}"></td>
                        <td class="rs_td0{% if value|mod:2 == 1 %}3{% else %}2{% endif %}"></td>
                        <td class="rs_td0{% if value|mod:2 == 1 %}3{% else %}2{% endif %}"></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="tl" colspan="4">Displaying {{ pbr_tables|length }} item</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock modal_body %}
{% block modal_footer %}
<div class="clear_float"></div>
<div class="pop_d03">
    <div class="pop_cancel_bt_img01" id="cancel" style="display:inline-block;">
        <img src='{% static "img/cancel_bt_01.png" %}' alt="#" data-dismiss="modal">
    </div>
</div>
{% endblock modal_footer %}