@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* CSS Document */
a {text-decoration:none;}
html {height:100%;}
body {margin:0; padding:0; font-family:"Noto Sans KR"; background-color:#f6f7fb; height:100%;}
img {border:0;}
.clear_float {clear:both;}
tr {margin:0; padding:0;}
table {margin:0; padding:0;}
td {margin:0; padding:0;}


/*header*/
.ind_d01 {position:fixed; width:100%; height:100%;}
.header {width:100%; height:69px; background-color:#4b73eb; z-index:99999999999999999;}
.head_img01 {margin:25px 57px 0 27px; float:left;}
.head_d01 {float:left; padding:0px 25px 0px 25px; margin:20px 0 0 0px;  color:#d0d8f9;}
.head_d01:hover {color:#fff;}
.head_d01_click {float:left; padding:0px 25px 0px 25px; background-color:#3057ce; border-radius:50px; margin:20px 0 0 0px; font-weight:bold; height:30px; color:#fff;}
.head_img02 {float:left; margin:7px 0 0 0;}
.head_d02 {float:left; font-size:15px; margin:5px 0 0 5px;}
.head_img03 {float:right; margin:18px 20px 0 0; cursor:pointer;}
/**/

/*left_menu*/
.left_menu {width:117px; height:100%; background-color:#1f305b; left:0; text-align:center; z-index:99999999; float:left;}
.left_menu_img01 {margin:35px auto 0 auto; cursor:pointer;}
.left_menu_d01 {color:#fff; font-size:11px; font-weight:bold; margin:4px 0 0 0; cursor:pointer;}
.left_menu_img02 {margin:22px auto 0 auto; cursor:pointer;}
.left_menu_img03 {position:absolute; margin:450px 0 0 117px; left:0; cursor:pointer;}
/**/


/*header_title*/
.header_title {width:100%; background-color:#fff; border-bottom:1px solid #e0e3ec;}
.header_title_d01 {margin:42px 0 0 53px; font-size:26px; color:#52525a; font-weight:bolder; display:inline-block;}
.header_title_img01 {cursor:pointer; display:inline-block; margin:20px 10px -3px 20px;}
.header_title_d02 {display:inline-block; font-size:15px; color:#8a94a5; font-weight:bold; padding:10px 15px 8px 15px; border:1px solid #ddd; border-radius:3px; cursor:pointer;}
.header_title_d02:hover {background-color:#f8f8fa;}
.header_title_d03 {width:100%; text-align:left; display:block;}
.header_title_d04 {font-size:15px; color:#8a94a5; font-weight:bold;  display:inline-block; margin:22px 0 0 50px; padding:12px 0;}
.header_title_d04_click {font-size:15px; color:#4e515e; font-weight:bold; border-bottom:4px solid #4b73eb; display:inline-block;margin:22px 0 0 50px; padding:12px 0;}
.header_title_d05 {font-size:15px; color:#8a94a5; font-weight:bold;  display:inline-block; margin:22px 0 0 40px; padding:12px 0;}
.header_title_d05_click {font-size:15px; color:#4e515e; font-weight:bold; border-bottom:4px solid #4b73eb; display:inline-block;margin:22px 0 0 40px; padding:12px 0;}
/**/

/*right_pop*/
.right_pop {width:311px; height:100%; background-color:#fff; position:fixed; z-index:999999999999999; top:0; right:0; border-left:1px solid #ddd; overflow:scroll; padding-top:40px;}
.right_img01 {margin:20px 0 0 20px; float:left;}
.right_d01 {float:left; font-size:15px; color:#567bec; font-weight:bold; margin:25px 0 0 8px;}
.right_img02 {cursor:pointer; float:right; margin:18px 20px 0 0;}
.right_d02 {font-size:14px; color:#16202a; font-weight:bold; margin:30px 0 0 20px;}
.right_d03 {font-size:13px; color:#3f4551; margin:5px 0 0 20px; width:269px;}
.right_d04 {font-size:14px; color:#16202a; font-weight:bold; margin:10px 0 0 20px;}
.right_d05 {width:100%; height:1px; background-color:#ddd; margin:20px 0 0 0;}
.right_d06 {background-color:#fff; position:fixed; width:100%; bottom:0; padding:10px 0; z-index:3;}
.right_d06 img {cursor:pointer;}
.right_img03 {display:inline-block; margin:0 3px 0 37px;}
.right_d07 {width:311px; background-color:#fff; position:fixed; top:0;}
.right_d08 {width:100%; height:120px;}
/**/
.contents {width:100%; display:inline-block; clear:both;}
.ind_d02 {width:600px; height:1700px; background-color:#33F; margin:500px 0 0 500px;}



/*table*/
.ind_th01 {background-color:#fff; border-bottom:1px solid #dadee9; font-size:16px; color:#06142f; font-weight:bold; padding:8px 0; text-align:center; width:170px;}
.ind_tab01 {border:1px solid #dadee9; border-bottom:0px; width:auto;}
.ind_td01 {background-color:#fff; font-size:16px; color:#8593b0; font-weight:bold; text-align:center; border-bottom:1px solid #dadee9; padding:8px 0;}

/**/

/*sub_left_menu*/
.sub_left_menu {width:257px; height:100%; background-color:#0f1a36; float:left;}
.sub_left_menu_d01 {width:232px; color:#fff; padding:18px 0 18px 25px; font-size:15px; font-weight:bold;}
.sub_left_menu_d01 a {color:#fff;}
.sub_left_menu_d01_click {width:227px; color:#fff; padding:18px 0 18px 25px; font-size:15px; font-weight:bold; background-color:#122043; border-left:5px solid #4b73eb;}
.sub_left_menu_d01_click a {color:#fff;}
/**/

/*login*/
.login_body {width:100%; height:100%; text-align:center; background:url(../img/login_bg01.png) no-repeat; background-size:cover;}
.login_d01 {width:450px; height:615px; background-color:#fff; border-radius:10px; margin:10% auto 0 auto; display:inline-block;}
.login_img01 {margin:45px auto 0 auto;}
.login_d02 {font-size:23px; color:#4a596b; margin:12px 0 0 0;}
.login_s01 {font-weight:bold;}
.login_text01 {width:315px; height:56px; border:2px solid #d0d8e1; border-radius:5px; margin:32px 0 0 0; font-size:15px; color:#8090a2; font-weight:bold; padding-left:10px; text-decoration:none;}
.login_text02 {width:315px; height:56px; border:2px solid #d0d8e1; border-radius:5px; margin:15px 0 0 0; font-size:15px; color:#8090a2; font-weight:bold; padding-left:10px; text-decoration:none;}
.login_checkbox01 {float:left; margin:58px 0 0 60px; width:18px; height:18px; border:2px solid #d0d8e1;}
.login_d03 {float:left; font-size:15px; color:#8090a2;  margin:55px 0 0 10px;}
.login_img02 {float:right; margin:40px 60px 0 0; cursor:pointer;}
.login_d04 {width:144px; height:56px; background:url(../img/login_02.png) no-repeat; float:right; margin:40px 60px 0 0; cursor:pointer;}
.login_d04:hover {background:url(../img/login_02_hover.png) no-repeat;}
/**/


